{{> head}}

{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>
            Mi primera Pagina con HBS (HandleBars)
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, veniam eos! Sapiente ea provident accusantium, sit iure doloribus porro voluptatum, at laudantium molestiae quam laboriosam architecto veniam, delectus harum? Ratione.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/sups.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}